<!-- nis footer -->
<footer class="container-fluid text-center bg-danger text-white d-flex justify-content-center align-items-center mt-5">
   <div class="fs-3">
     <a href="https://www.instagram.com/lean.albania_makina_me_qera_" class="text-white"><i class="fa-brands fa-instagram"></i></a>
     <a href="https://www.facebook.com/p/Lean-Albania-100077210650699/?locale=sq_AL" class="text-white"><i class="fa-brands fa-facebook"></i></a>
     <a href="https://www.tiktok.com/@lean.albania/video/7392706331158826246" class="text-white"><i class="fa-brands fa-tiktok"></i></a>
     <a href="https://www.youtube.com/@LEANALBANIA?reload=9&app=desktop" class="text-white"><i class="fa-brands fa-youtube"></i></a>
     <p>Copy right: 2024</p>
 </div>
 </footer>
 <!-- mbaron footer -->