{% extends 'index.html' %}
{% load static %}
{% block content %}

 <!-- Nis carousel -->
 <video src="{% static 'image/Dark Violet Cyan Orange White Shapes and Widgets YouTube Intro.mp4' %}" autoplay loop muted class="object-fit-contain" autoplay></video>
      
 <!-- <div class="carousel-inner">
   <div class="carousel-item active">
     <img src="image/aclass.jpg" class="d-block w-100" alt="...">
   </div>
   <div class="carousel-item">
     <img src="image/hyundaituscon23.jpg" class="d-block w-100" alt="...">
   </div>
   <div class="carousel-item">
     <img src="image/jetta.jpg" class="d-block w-100" alt="...">
   </div>
 </div>
 <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
   <span class="carousel-control-prev-icon" aria-hidden="true"></span>
   <span class="visually-hidden">Previous</span>
 </button>
 <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
   <span class="carousel-control-next-icon" aria-hidden="true"></span>
   <span class="visually-hidden">Next</span>
 </button>
</div>
fund carousel -->
 <h1 class="text-center mt-5 pt-5 display-1">Makina me Qera</h1>

 <div class="container-fluid">
     <div class="row">
         <div class="col-6">
             <img src="{% static 'images/Screenshot_20240703_164945_Instagram.jpg' %}" class="about" alt="">
         </div>
         <div class="col-6">
             <h2>About Us</h2>
             <p>LE-AN ALBANIA_Makina me Qera eshte nje rental i nisur qe ne vitin 2019 e vazhdon ende sot. Nen sloganin " ENJOYABLE LIFE EXPERIENCES" kjo kompani eshte gjithmone prane cdo klienti qe ka nevoje per nje makine me qera. Kompania jone ofron cmimet me te mira e te lira ne treg, kualitet, gatishmeri per ta sjelle makinen kudo ,Tirane, RInas apo kudo dhe ne cdo ore. E gjendur lehtesisht ne rrugen Myslym Shyri prane Maxoptika ,perballe Okaidit ose ne cdo rrjet social si Instagram,Facebook, Whatsapp, Youtube, Linkedin ,Tiktok etj. Mund te na kontaktoni ne rrjetet tona sociale, ne adresen e emil : albania.lean@gmail.com ose ne numrin e cel : 068 804 5315</p> 
             <a href="about.html">Learn more</a>
             </div>
 
 </div>
 <!-- nis seksion1 -->
<!-- fund seksioni1 -->
<!-- nis seksioni 2 -->
<div class="container">
<div class="row">
  {% for item in items %}
<div class="col-12 col-md-6 col-lg-3 mt-2 mt-1-lg-5">
 <div class="card" >
   <img src={{item.item_image.url}} class="card-img-top test" alt="...">
   <div class="card-body">
     <h5 class="card-title">{{item.item_name}} <i class="fa-regular fa-heart heart"></i></h5>
     <p class="card-text">{{item.item_description}}</p>
     <ul>
       <li>{{item.item_motorri}}</li>
       <li>{{item.item_lloji}}</li>
       <li>{{item.item_karburanti}}</li>
       <li>{{item.item_vitiprodhimit}}</li>
     </ul>
     
     <a href="#" class="btn btn-primary">Rent Now</a>
   </div>
 </div>
</div>
{% endfor %}
<!-- <div class="col-12 col-md-6 col-lg-3 mt-2 mt-1-lg-5">
 <div class="card" >
   <img src="image/hyundaituscon23.jpg" class="card-img-top test" alt="...">
   <div class="card-body">
     <h5 class="card-title">HYUNDAI TUCSON <i class="fa-regular fa-heart heart"></i></h5>
     <p class="card-text">Hyundai Tucson</p>
     <ul>
       <li>1,6</li>
       <li>Automat</li>
       <li>Nafte</li>
       <li>2024</li>
     </ul>
     <a href="#" class="btn btn-primary">Rent Now</a>
   </div>
 </div>
</div>
<div class="col-12 col-md-6 col-lg-3 mt-2 mt-1-lg-5">
 <div class="card" >
   <img src="image/Screenshot_20240703_160602_Instagram.jpg" class="card-img-top test" alt="...">
   <div class="card-body">
     <h5 class="card-title">FIAT TIPO <i class="fa-regular fa-heart heart"></i></h5>
     <p class="card-text">Fiat Tipo</p>
     <ul>
       <li>1,3</li>
       <li>Manual</li>
       <li>Nafte</li>
       <li>2019</li>
     </ul>
     <a href="#" class="btn btn-primary">Rent Now</a>
   </div>
 </div>
</div>
<div class="col-12 col-md-6 col-lg-3 mt-2 mt-1-lg-5">
 <div class="card" >
   <img src="image/Screenshot_20240703_160750_Instagram.jpg" class="card-img-top test" alt="...">
   <div class="card-body">
     <h5 class="card-title">SKODA CITIGO <i class="fa-regular fa-heart heart"></i></h5>
     <p class="card-text">Skoda Citigo</p>
       <ul>
         <li>1,0</li>
         <li>Manual</li>
         <li>Benzine</li>
         <li>2015</li>
       </ul>
     <a href="#" class="btn btn-primary">Rent Now</a>
   </div>
 </div>
</div>
<div class="col-12 col-md-6 col-lg-3 mt-2 mt-1-lg-5">
 <div class="card" >
   <img src="image/Screenshot_20240703_160811_Instagram.jpg" class="card-img-top test" alt="...">
   <div class="card-body">
     <h5 class="card-title">VOLKSWAGEN JETTA <i class="fa-regular fa-heart heart"></i></h5>
     <p class="card-text">Volkswagen Jetta</p>
     <ul>
       <li>1,6</li>
       <li>Automat</li>
       <li>Benzine-Gaz</li>
       <li>2014</li>
     </ul>
     <a href="#" class="btn btn-primary">Rent Now</a>
   </div>
 </div>
</div>
<div class="col-12 col-md-6 col-lg-3 mt-2 mt-1-lg-5">
<div class="card" >
 <img src="image/Screenshot_20240703_161147_Instagram.jpg" class="card-img-top test" alt="...">
 <div class="card-body">
   <h5 class="card-title">HYUNDAI VENUE <i class="fa-regular fa-heart heart"></i></h5>
   <p class="card-text">Hyundai Venue</p>
   <ul>
     <li>1,6</li>
     <li>Automat</li>
     <li>Nafte</li>
     <li>2023</li>
   </ul>
   <a href="#" class="btn btn-primary">Rent Now</a>
 </div>
</div>
</div>
<div class="col-12 col-md-6 col-lg-3 mt-2 mt-1-lg-5">
<div class="card" >
 <img src="image/Screenshot_20240703_161204_Instagram.jpg" class="card-img-top test" alt="...">
 <div class="card-body">
   
   <h5 class="card-title">MERCEDES BENZ ACLASS <i class="fa-regular fa-heart heart"></i></h5>
   
   <p class="card-text">Mercedes Benz ACLASS</p>
   <ul>
     <li>1,5</li>
     <li>Automat</li>
     <li>Benzine</li>
     <li>2005</li>
   </ul>
   <a href="#" class="btn btn-primary">Rent Now</a>
 </div>
</div>
</div>  -->

</div> <!--i rreshti row-->
</div> <!--i container-->

{% endblock %}